<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{judul}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{sumber}/template/biasawae/assets/img/favicon.png" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{sumber}/template/biasawae/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="{sumber}/template/biasawae/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="{sumber}/template/biasawae/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="{sumber}/template/biasawae/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="{sumber}/template/biasawae/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="{sumber}/template/biasawae/assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="{sumber}/template/biasawae/assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{sumber}/template/biasawae/assets/css/style.css" rel="stylesheet">
  
  <style>
  	#hero {
		  width: 100%;
		  height: 100vh;
		  position: relative;
		  padding: 0;
		}


	
	.about {
		  background: url("{sumber}/template/biasawae/assets/img/about-bg.jpg") center center;
		  background-size: cover;
		  position: relative;
		  padding: 80px 0;
		}


	.events {
		  background: url("{sumber}/template/biasawae/assets/img/events-bg.jpg") center center no-repeat;
		  background-size: cover;
		  position: relative;
		}
	


  </style>
  
  


</head>

<body>










  <!-- ======= Top Bar ======= -->
  <div id="topbar" class="d-flex align-items-center fixed-top">
    <div class="container d-flex">
      <div class="contact-info mr-auto">
        <i class="icofont-phone"></i> +62 81 829 88 54
        <span class="d-none d-lg-inline-block"><i class="icofont-clock-time icofont-rotate-180"></i> Jl. Raya BIASAWAE...</span>
      </div>
    </div>
  </div>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

		<a href="{sumber}" class="logo mr-auto"><img src="{sumber}/template/biasawae/assets/img/logo.png" alt="" class="img-fluid"></a>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="index.php">BERANDA</a></li>
          <li><a href="index.php#about">PROFIL</a></li>
          <li><a href="index.php#why-us">DOKUMENTASI</a></li>
          <li><a href="index.php#menu">PELAYANAN</a></li>
          <li><a href="index.php#events">AGENDA</a></li>
          <li><a href="index.php#chefs">SENIMAN</a></li>
          <li><a href="index.php#contact">KONTAK KAMI</a></li>
        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->




		

	{isi}
      


	{i_footer}


  <div id="preloader"></div>
  <a href="#" class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a>

  <!-- Vendor JS Files -->
  <script src="{sumber}/template/biasawae/assets/vendor/jquery/jquery.min.js"></script>
  <script src="{sumber}/template/biasawae/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="{sumber}/template/biasawae/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="{sumber}/template/biasawae/assets/vendor/php-email-form/validate.js"></script>
  <script src="{sumber}/template/biasawae/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="{sumber}/template/biasawae/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="{sumber}/template/biasawae/assets/vendor/venobox/venobox.min.js"></script>
  <script src="{sumber}/template/biasawae/assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="{sumber}/template/biasawae/assets/js/main.js"></script>






		
					<script language='javascript'>
					//membuat document jquery
					$(document).ready(function(){
				
				
						$("#btnKRM").on('click', function(){
						
							$("#formx2").submit(function(){
				
								$.ajax({
									url: "i_index.php?aksi=penyewareg",
									type:$(this).attr("method"),
									data:$(this).serialize(),
									success:function(data){					
										$("#ihasilnya").html(data);
										}
									});
								return false;
							});
							
							
						
						});	
				
					
								
					});
					
					</script>
						
				
				
				
				
					<script language='javascript'>
					//membuat document jquery
					$(document).ready(function(){
					
						$("#btnKRM2").on('click', function(){
							$("#formx22").submit(function(){
								$.ajax({
									url: "i_index.php?aksi=penyewalogin",
									type:$(this).attr("method"),
									data:$(this).serialize(),
									success:function(data){					
										$("#ihasil2").html(data);
										}
									});
								return false;
							});
						
						
						});	
					
				
				
					
					});
					
					</script>
					
				





			
				<script language='javascript'>
				//membuat document jquery
				$(document).ready(function(){
				
					$("#btnKRM4").on('click', function(){
						$("#formx24").submit(function(){
							$.ajax({
								url: "i_index.php?aksi=penyewapass",
								type:$(this).attr("method"),
								data:$(this).serialize(),
								success:function(data){					
									$("#ihasil4").html(data);
									}
								});
							return false;
						});
					
					
					});	
				
				
				});
				
				</script>
			
			


		



</body>

</html>